@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1024px;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden;
}

#header {
    /* width: 100vw; */
    width: 100%;
    height: auto;
    display: block;
    background-color: rgb(106, 206, 234, .3);
    position: fixed;
    top: 0;
    border: 1px solid #302424;
}

#navbar {
    display: flex;
    width: 100%;
    height: auto;
}

.navigationSection {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: end;
}

.navigationSection li {
    list-style: none;
    padding-right: 50px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1024px;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.h1title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40vh 0 20vh 0;
}

#about {
    width: 100vw;
    height: 1000px;
    display: flex;
    background-color: yellow;
    justify-content: center;
}

#works {
    width: 100vw;
    height: 1000px;
    display: flex;
    background-color: red;
    justify-content: center;
}

#contact {
    width: 100vw;
    height: 1000px;
    display: flex;
    background-color: blue;
    justify-content: center;
}

.sectionTitle {
    margin: 20vh 0;
    padding: 20vh 0;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: #302424;
    text-align: center;
    cursor: pointer;
}




/*****************************                                          ***********/
/*****************************        @media (max-width: 768px)         ***********/
/*****************************                                          ***********/
/*****************************                                          ***********/

@media (max-width: 768px) {
    a {
        font-size: 20px;
    }
}